:root {
    --orange-yellow: #ff9d00;
    --transparent-orange-yellow: rgba(255, 157, 0, 0.4);
    --very-transparent-orange-yellow: rgba(255, 157, 0, 0.16);

    --add-bg-color: #ffbb00;
    --transparent-add-bg-color: rgba(255, 187, 0, 0.4);

    --input-focus-border: darkgrey;
}

.fs-10 {
    font-size: 2.6em;
}

/* Redéfinition */
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background-color: var(--orange-yellow);
    border-color: var(--orange-yellow);
}

.btn-primary {
    box-shadow: 0 0.125rem 0.25rem 0 var(--transparent-orange-yellow);
}

.btn-primary:focus {
    border-color: darkgrey;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:focus {
    background-color: var(--add-bg-color);
    border-color: var(--add-bg-color);
}

.btn-success {
    box-shadow: 0 0.125rem 0.25rem 0 var(--transparent-add-bg-color);
}

.btn-success:focus {
    border-color: darkgrey;
}

.bg-menu-theme .menu-inner > .menu-item.active > .menu-link {
    color: var(--orange-yellow);
    background-color: var(--very-transparent-orange-yellow) !important;
}

.bg-menu-theme .menu-inner > .menu-item.active:before {
    background: var(--orange-yellow);
}

/* Form elements */
.input-group:focus-within .form-control, .input-group:focus-within .input-group-text {
    border-color: var(--input-focus-border);
}

.form-control:focus, .form-select:focus {
    border-color: var(--input-focus-border);
}

/* Personnalisation */
.review {
    box-shadow: none;
}

.review hr {
    margin: 0;
}

.review .update-btn, .review .delete-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.review .update-btn {
    right: 4rem;
}

.stars {
    color: var(--add-bg-color);
}

.stars-radio i {
    font-size: 1.7rem;
    cursor: pointer;
}

.checked-star::before {
    content: "\ebac";
}

.stars-radio input[type=radio] {
    display: none;
}
